<footer>
  <img
    src="public/images/logo.png"
    alt="Joshua Masanza Logo"
    width="100"
    class="logo"
  />
  <p>&copy; 2024 Joshua Masanza. All rights reserved.</p>
  <a href="/contact">Contact</a>
</footer>
