<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">
          &copy; 2025 <%= contacts.name %>. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="<%= contacts.github %>" target="_blank" class="text-white me-3"
          >GitHub</a
        >
        <a href="<%= contacts.linkedin %>" target="_blank" class="text-white"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</footer>
